<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Eye of Eagle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body class="w-auto p-3" style="background-color: #E4D824;">
  <script>
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    const APP_ID = 2611721012483168;    
    var senderID = "";
    
    window.extAsyncInit = function() {
        MessengerExtensions.getContext(APP_ID, 
          function success(thread_context){
           senderID = thread_context.psid;
          },
          function error(err){
            console.log(err);
          }
        );        
    };
  </script>
  
	<h1><%= title %></h1>

  

  <form id="form" method="post" action="https://eyeofeagle.herokuapp.com/change_package/">
     <h2>Price will be 1 company is 40$</h2>
  <div class="form-group">
    <h2>Transportation</h2>
    <label for="name">Choose what you want to change in Transportation</label>
    <select class="form-control" name="transportation" id="transportation">
      <option>-----</option>
      <option>4 seat</option>
      <option>8 seat</option>
      <option>16 seat</option>
    </select> 
  </div>

  <h2>Restaurant</h2>
  <div class="form-group">
    <label for="name">Where do you want to eat for Breakfast!!!</label>
    <select class="form-control" name="breakfast" id="breakfast">
       <option>-----</option>
      <option>Shwepalin</option>
      <option>Maung Aye</option>
      <option>Tone Pan Hla</option>

     </select> 
  </div>

  <div class="form-group">
    <label for="name">Where do you want to eat for Lunch!!!</label>
    <select class="form-control" name="lunch" id="lunch">
       <option>-----</option>
      <option>Golden Duck</option>
      <option>Indian Kitchen</option>
      <option>Sein Sweli</option>

     </select> 
  </div>

  <div class="form-group">
    <label for="name">Where do you want to eat for Dinner!!!</label>
    <select class="form-control" name="dinner" id="dinner">
       <option>-----</option>
      <option>Shangrila</option>
      <option>Indian Kitchen</option>
      <option>Sein Sweli</option>

     </select> 
  </div>
  
  <h2>Hotel</h2>
  <div class="form-group">
    <label for="name">Choose what you want to change in Hotel</label>
    <select class="form-control" name="hotel" id="hotel">
       <option>-----</option>
      <option>Lotte</option>
      <option>Sedona</option>
      <option>Kan Taw mingalar</option>

     </select> 
  </div>
<h2>Your information</h2>
  <div class="form-group">
    <label for="name">Your name please</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">    
  </div>
  <div class="form-group">
    <label for="title">Mobile</label>
    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="09.........">
  </div>
   <div class="form-group">
    <label for="title">Company</label>
    <input type="text" class="form-control" id="company" name="company" placeholder="1...2....">
  </div>
  <div class="form-group">
    <label for="title">E-mail</label>
    <input type="text" class="form-control" id="e_mail" name="e_mail" placeholder="name@gmail.com">
  </div>
    
  <input type="hidden"  id="sender" name="sender" value="<%= sender_id %>">
  <input class="btn btn-primary" type="submit" value="Confirm Booking"> 
  </form>


	
  <script>
      
   
      const windowShut = () => {
        MessengerExtensions.requestCloseBrowser(function success() {
          console.log("success");          
        }, function error(err) {
          console.log(err);
        });
      }
      
      document.getElementById("form").addEventListener("submit", windowShut);       


     

  </script>

  </body>

</html>