<!doctype html>

<html>
	<head>
		<title>Eye of Eagle</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</head>

	<body class="w-auto p-3" style="background-color: #E4D824;">

		
		<h1>Packages</h1>
		 <img src="https://img.theculturetrip.com/wp-content/uploads/2017/05/root-yangon-1.jpg" height="250" width="355" />
    	
		<h2>Trip</h2>

			<ul>
			  <li>Mr Jerry-Hot Pot King-Herry</li>
			  <li>Thai Pot-Kosan-Suzuki</li>
			  <li>Shwekaung-Mala Pot-Terminal 5 </li>
			</ul>  

			<h2>Transportation</h2>

			<ul>
			  <li>12 seat minibus</li>
			  <li>10 seat </li>
			  <li>4 seat</li>
			</ul>  

			<h2>Restaurant</h2>

			<h3>Breakfast</h3>

			<ul>
			  <li>Shwepalin</li>
			  <li>Maung Aye</li>
			  <li>Tone Pan Hla</li>
			</ul>  

			<h3>Lunch</h3>

			<ul>
			  <li>Golden Duck</li>
			  <li>Indian Kitchen</li>
			  <li>Sein Sweli</li>
			</ul>  

			<h3>Dinner</h3>

			<ul>
			  <li>Shangrila</li>
			  <li>Pouk Pouk</li>
			  <li>Nyoun tone</li>
			</ul>  

			<h2>Hotel</h2>

			<ul>
			  <li>Lotte</li>
			  <li>Sedona</li>
			  <li>Kan Taw mingalar</li>
			</ul>  

			<h2>Price will be 1 company is 150$</h2>
		
		

	</body>

	
</html>













