<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Eye of Eagle</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body class="w-auto p-3" style="background-color: #E4D824;">
  <script>
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    const APP_ID = 2611721012483168;    
    var senderID = "";
    
    window.extAsyncInit = function() {
        MessengerExtensions.getContext(APP_ID, 
          function success(thread_context){
           senderID = thread_context.psid;
          },
          function error(err){
            console.log(err);
          }
        );        
    };
  </script>
  
	<h1><%= title %></h1>

   <img src="https://c0.wallpaperflare.com/preview/293/695/726/yangon-myanmar-burma-maha-bandula-park-monument.jpg" height="250" width="355" />
    

  <form id="form" method="post" action="https://eyeofeagle.herokuapp.com/parks_customize/">
  <div class="form-group">
    <label for="name">Where do you want to go</label>
    <select class="form-control" name="parks_trip" id="parks_trip">
      <option value="People parks-Mahar Bandula Parks-Water boom(Yangon 1d/1n)">People parks-Mahar Bandula Parks-Water boom(Yangon 1d/1n)</option>
      <option value="Happy world-Happy Zone-Animal Parks(Yangon 1d/1n)">Happy world-Happy Zone-Animal Parks(Yangon 1d/1n)</option>
      <option value="Kan Taw Gyi-Kan Taw Lay-Kan Bound(Yangon 1d/1n)">Kan Taw Gyi-Kan Taw Lay-Kan Bound(Yangon 1d/1n)</option>
      <option value="Chan Mya Wa Ti Garden-Bo Joke Garden-Myaing Hay Win Garden(Mandalay 1d/1n)">Chan Mya Wa Ti Garden-Bo Joke Garden-Myaing Hay Win Garden(Mandalay 1d/1n)</option>
      <option value="People Garden-Ti Ri Marlar-Little star water parks(Mandalay 1d/1n)">People Garden-Ti Ri Marlar-Little star water parks(Mandalay 1d/1n)</option>
      <option value="Man Ti Dar-Taung Ta Man Lake-Mahar Aung Myay(Mandalay 1d/1n)">Man Ti Dar-Taung Ta Man Lake-Mahar Aung Myay(Mandalay 1d/1n)</option>
      
    </select> 
  </div>

 <div class="form-group">
    <label for="name">Choose your Transportation what you like</label>
    <select class="form-control" name="transportation" id="transportation">
      <option>4seat(car)</option>
      <option>8seat(car)</option>
      <option>16seat(car)</option>
      <option>32seat(car)</option>

     </select> 
  </div>

   <h2>Restaurants</h2>

  <div class="form-group">
    <label for="name">Breakfast</label>
    <select class="form-control" name="breakfast" id="breakfast">
      <option>Shwepalin(Yangon)</option>
      <option>Indian Kitchen(Yangon)</option>
      <option>Sein Sweli(Yangon)</option>
      <option>Goldious Food and Drink(Mandalay)</option>
      <option>Phan Cherry(Mandalay)</option>
      <option>Breakfast Garden(Mandalay)</option>

     </select> 
  </div>

  <div class="form-group">
    <label for="name">Lunch</label>
    <select class="form-control" name="lunch" id="lunch">
      <option>Golden Duck(Yangon)</option>
      <option>Indian Kitchen(Yangon)</option>
      <option>Sein Sweli(Yangon)</option>
      <option>Shwe Shan(Mandalay)</option>
      <option>Mingalar Bar(Mandalay)</option>
      <option>Indian Tadka(Mandalay)</option>

     </select> 
  </div>

  <div class="form-group">
    <label for="name">Dinner</label>
    <select class="form-control" name="dinner" id="dinner">
      <option>Shangrila(Yangon)</option>
      <option>Pouk Pouk(Yangon)</option>
      <option>Nyoun tone(Yangon)</option>
      <option>Marie Min(Mandalay)</option>
      <option>A little bit of Mandalay(Mandalay)</option>
      <option>Super 81(Mandalay)</option>

     </select> 
  </div>

   <h2>Hotel</h2>
  <div class="form-group">
    <label for="name">Hotel</label>
    <select class="form-control" name="hotel" id="hotel">
      <option>Lotte(Yangon )</option>
      <option>Sedona(Yangon )</option>
      <option>Kan Taw mingalar(Yangon)</option>
      <option>Hotel Yadanarbone(Mandalay)</option>
      <option>Bagan KIng(Mandalay)</option>
      <option>Hotel Amazing Mandalay(Mandalay)</option>

     </select> 
  </div>

  <div class="form-group">
    <label for="name">Your name please</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">    
  </div>
  <div class="form-group">
    <label for="title">Mobile</label>
    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="09.......">
  </div>
  <div class="form-group">
    <label for="title">Company</label>
    <input type="text" class="form-control" id="company" name="company" placeholder="1.2.......">
  </div>
  <div class="form-group">
    <label for="title">E-mail</label>
    <input type="text" class="form-control" id="e_mail" name="e_mail" placeholder="name@gmail.com">
  </div>
  <div class="form-group">
    <label for="title">Arrived Date</label>
    <input type="text" class="form-control" id="arriveddate" name="arriveddate" placeholder="dd/mm/yy">
  </div>
  <div class="form-group">
    <label for="title">Arrived Time</label>
    <input type="text" class="form-control" id="arrivedtime" name="arrivedtime" placeholder="00:00">
  </div>
    
  <input type="hidden"  id="sender" name="sender" value="<%= sender_id %>">
  <input class="btn btn-primary" type="submit" value="Confirm Booking"> 
  </form>


	
  <script>
      
   
      const windowShut = () => {
        MessengerExtensions.requestCloseBrowser(function success() {
          console.log("success");          
        }, function error(err) {
          console.log(err);
        });
      }
      
      document.getElementById("form").addEventListener("submit", windowShut);       


     

  </script>

  </body>

</html>