<!doctype html>

<html>
	<head>
		<title>Eye of Eagle</title>
	</head>

	<body>
		<div>
			<label> Trip - shwedagon-sule-kyaut taw gyi </label>
		</div>

		<div>
			<label> Restaurant </label>
		</div>

		<div>
			<label> Breakfast -  Shwe Pa Lin </label>
		</div>

		<div>
			<label> Lunch - Golden Dush </label>
		</div>

		<div>
			<label>Dinner - Shangrila </label>
		</div>

		<div>
			<label>Hotel - Lotte </label>
		</div>




	</body>
</html>













