<!doctype html>

<html>
	<head>
		<title>Eye of Eagle</title>
	</head>

	<body>

		<img src="/img/inle.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
		
		<div>
			<label> Trip - shwedagon-sule-kyaut taw gyi </label>
		</div>

		<div>
			<label> Trasnportation - 12 seat minibus</label>
		</div>

		<div>
			<label> Breakfast -  Shwe Pa Lin </label>
		</div>

		<div>
			<label> Lunch - Golden Duck </label>
		</div>

		<div>
			<label>Dinner - Shangrila </label>
		</div>

		<div>
			<label>Hotel - Lotte </label>
		</div>


	</body>

	
</html>













