<!doctype html>

<html>
	<head>
		<title>Eye of Eagle</title>
	</head>

	<body>
		<div>
			<label> Trip - shwedagon-sule-kyaut taw gyi </label>
		</div>

		<div>
			<label> Restaurant </label>
		</div>
	</body>
</html>













