<!doctype html>

<html>
	<head>
		<title>Eye of Eagle</title>
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body  class="w-auto p-3" style="background-color: #E4D824;">

		
		<h1>Packages</h1>
		<img src="https://www.indochinatour.com/blog/wp-content/uploads/2019/03/Traditional-Myanmar-Festivals-and-Their-Dates-2019.jpg" height="250" width="355" />
		
		<h2>Trip</h2>

			<ul>
			  <li>Shwe Gone Puppet Theatre-Myanmar Culture show-Karaweik palace(Yangon 1d/1n)</li>
			  <li>Sein Satin-Htoo Chon-Kangyi Maung-Bokalay Hla myint(Yangon 1d/1n)</li>
			  <li>Sein Maha Tabin-Takhine Lone Shwe-Nan Win(Yangon 1d/1n)</li>
			  <li>Traditional Hanicraft Puppets-Traditional clay pots-Puppet theater(Mandalay 1d/1n)</li>
			  <li>Workshop gold leaf making-Kalaga tapestries-Stone Carving(Mandalay 1d/1n)</li>
			  <li>Mandalay Palace-Mintha Theater-Manadalay Wall(Mandalay 1d/1n)</li>
			</ul>  

			<h2>Transportation</h2>

			<ul>
			  <li>4seat(car)</li>
			  <li>8seat(car) </li>
			  <li>16seat(car)</li>
			  <li>32seat(car)</li>
			</ul>  

			<h2>Restaurant</h2>

			<h3>Breakfast</h3>

			<ul>
			  <li>Shwepalin(Yangon)</li>
			  <li>Maung Aye(Yangon)</li>
			  <li>Tone Pan Hla(yangon)</li>
			   <li>Goldious Food and Drink(Mandalay)</li>
			  <li>Phan Cherry(Mandalay)</li>
			  <li>Breakfast Garden(Mandalay)</li>
			</ul>  

			<h3>Lunch</h3>

			<ul>
			  <li>Golden Duck(Yangon)</li>
			  <li>Indian Kitchen(Yangon)</li>
			  <li>Sein Sweli(Yangon)</li>
			  <li>Shwe Shan(Mandalay)</li>
			  <li>Mingalar Bar(Mandalay)</li>
			  <li>Indian Tadka(Mandalay)</li>
			</ul>  

			<h3>Dinner</h3>

			<ul>
			  <li>Shangrila(Yangon)</li>
			  <li>Pouk Pouk(Yangon)</li>
			  <li>Nyoun tone(Yangon)</li>
			  <li>Marie Min(Mandalay)</li>
			  <li>A little bit of Mandalay(Mandalay)</li>
			  <li>Super 81(Mandalay)</li>
			</ul>  

			<h2>Hotel</h2>

			<ul>
			  <li>Lotte(Yangon )</li>
			  <li>Sedona(Yangon )</li>
			  <li>Kan Taw mingalar(Yangon)</li>
			  <li>Hotel Yadanarbone(Mandalay)</li>
			  <li>Bagan KIng(Mandalay)</li>
			  <li>Hotel Amazing Mandalay(Mandalay)</li>
			</ul>  

			<h2>Price will be 1 company is 150$ a per day</h2>
		
		

	</body>

	
</html>













