<!doctype html>

<html>
  <head>
    <title>Eye of Eagle</title>
  </head>

  <body>

    
    <h1>About</h1>
    <img src="https://www.myanmarshalom.com/wp-content/uploads/2017/12/banner-slider1.jpg" height="700" width="1400" />
      <div style="background-image: url('https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-037.jpg');">

    
     <p>
      This work is No (3); The path of the mind. It is located in Tarmwe Township, Yangon. There are four staff members in my business who have a mentor. The main function of the business is to sell the tickets to their destination across the country in packages. First of all, if they get a contact from us, the newspaper found it. When we arrive, we have a package list. You have the right to choose the package they like. After the package has been found. How to get there, Then, if there is a budget plane so that the planes themselves are ready. We don't have to do it.
      Our business is Travel and Your. And then that isn't simple sell the packages. That have you can customize and choose the actiity and your packages. Another function is you can change when your going to trip. That all our fucntion. Thanks You!!!!</p>
    
    

  </body>

  
</html>













